*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#111;
  color:#fff;
}

.container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

h1{
  color:#ff3b30;
  font-size:42px;
  margin-bottom:10px;
}

p{
  color:#bbb;
  margin-bottom:25px;
}

button{
  background:#ff3b30;
  color:#fff;
  border:none;
  padding:15px 35px;
  border-radius:8px;
  font-size:18px;
  cursor:pointer;
}

button:hover{
  background:#d92d20;
}input{
    width:300px;
    padding:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
}textarea,
select{
    width:300px;
    padding:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
}